[submodule "thirdparty/plume"]
	path = thirdparty/plume
	url = https://github.com/zolaware/plume.git
[submodule "thirdparty/XenosRecomp"]
	path = thirdparty/XenosRecomp
	url = https://github.com/zolaware/reblue-XenosRecomp.git
[submodule "thirdparty/picosha2"]
	path = thirdparty/picosha2
	url = https://github.com/okdshin/PicoSHA2.git
